<?xml version="1.0"?>
<launch>
  <include file="$(find laser_tools_src2)/launch/hauler_scan_assemble.launch"/>
  <group ns="small_hauler_1">
    <param name="/use_sim_time" value="true"/>
    <node name="laser_tools" pkg="laser_tools_src2" type="laser_tools.py" output="screen">
      <rosparam
        command="load"
        file="$(find laser_tools_src2)/config/hauler_laser_tools.yaml"
        subst_value="true"
      />
    </node>
  </group>
</launch>
